.about-container{
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

.about{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-weight: bold;
}

.plan{
    display: flex;
    flex-direction: column;
    background-color: rgb(142, 140, 140);
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 55rem;
}

.plan{
    background: var(--planCard);
    margin-bottom: 50px;
    /* transform: scale(1.1); */
    animation: 3s ease-in 1s 2 reverse both paused slidein;
}
.lineUp {
  animation: 2s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.plan>:nth-child(1){
    font-size: 1rem;
    font-weight: bold;
}
/* .plan>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
} */
.plan>:nth-child(2){
    font-size: 0.8rem;
}

.feature{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
}

.about>:nth-child(2)>button{
    color: rgb(50, 43, 151);
}

.about-blur-1{
    width: 32rem;
    height: 23rem;
    top: 6rem;
    left: 0rem;
}

.about-blur-2{
    width: 32rem;
    height: 23rem;
    top: 10rem;
    right: 0rem;
}

@media screen and (max-width: 768px){
    .about{
        flex-direction: column;
    }
    .about>:nth-child(2){
        transform: none;
    }
}